<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=euc-jp">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script language="JavaScript" type="text/javascript" src="script.js"></script>
  <title>Stage #1</title>
</head>
<body><div>
<h2>Stage #1</h2>
<input type="hidden" name="key" value="tubhf3/qiq">
<form action="/s1" method="post">
Search: <input type="text" name="p1" size="60" value="">
<input type="submit" value="Search">
</form>
<hr class='red'>No results for <b>"{{result | safe}}"</b><hr class='red'><span id="msg" style="display:none"></span>
</div>

<!-- Google Analytics / *** THIS IS NOT A TARGET. PLEASE LAY OFF! *** -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-53066-4");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<!-- Google Analytics / *** THIS IS NOT A TARGET. PLEASE LAY OFF! *** -->

</body>
</html>

